$font_general: 'Major Mono Display', monospace;

@media (max-width: 991px) {

    .d-lg-menos-none {
        display: none!important
    }

}

.bodyHome {
    margin: 0;
    margin-bottom: 100px;
}

.home {

    overflow-x: hidden;

    width: 100%;

    font-family: $font_general;

    .home__header {

        .header__navDesktop {
            height: 40px;
        }

        a {
            color: black;
        }

        a:hover {
            background-color: black;
            color: white;
        }

    }

    .home__main {
        
        background-color: black;

        h2 {
            color: yellow;
        }

        p {
            color: white;
        }

        a {
            color: white;
        }

        a:hover {
            background-color: white;
            color: black;
        }

    }

    .home__section {

        h3 {
            font-family: $font_general;
        }

    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}